<html>
<body>
<pre>
hello vm

##你看不到我，此处是注释

#*
这里是块注释
*#

value1：$!{value1}
$!{value2}
${value3}

#foreach($color in $colors)
Color$!{foreach.index}/$!{foreach.count}:$!{color}
#end

#foreach($key in $map.keySet())
Number$!{foreach.index}/$!{foreach.count}:$!{key} $map.get($key)
#end

##同java里的方法
#foreach($kv in $map.entrySet())
Number$!{foreach.index}/$!{foreach.count}:$!{kv.key} $!{kv.value}
#end

User:$!{user.name}
User:$!{user.getName()}

#*
##include纯粹把文件header.vm中的那段文本包含进来
##Parse除了把文本包含进来，也进行编译和转化
*#
#set($title = "nowcoder")
Include:#include("header.vm")<br>
Parse:#parse("header.vm")

#macro (render_color, $color, $index)
Color By Macro $index, $color
#end
#foreach($color in $colors)
  #render_color($color, $foreach.index)
#end

#*
" ":会对文件解析
' ':不会对文件解析
*#
#set($hello = "hello")
#set($hworld1 = "$!{hello} word")
#set($hworld2 = '$!{hello} word')

hworld1:$hworld1
hworld2:$hworld2

$!{colors.size()}

</pre>
</body>
</html>